#################
## dart
#################

web/out
pubspec.lock
.buildlog
*.dart.js
*.dart.js.map
*.dart.js.deps
pubspec.lock
packages/

############
## win/mac/linux garbage files
############

Thumbs.db
Desktop.ini
.DS_Store
*.swp

#################
## dart editor / eclipse garbage
#################
.project
